transformers
scikit-learn
numpy
hydra-core
pytorch-lightning
hydra-colorlog
python-dotenv
rich 
pytest 
scikit-learn 
seaborn 
datasets 
beautifulsoup4 
openpyxl 
more-itertools 
requests 
jieba 
jsonlines 
gensim 
nltk 
rouge 
sacrebleu 
bert_score 
spacy
sentencepiece 
stanfordcorenlp 
mkl-service
nvitop 
redis
comet_ml
ranger-fm 
pynvml
setproctitle